{%load static%}
<!-- Home page (hello.html), footer ,and header by Jeremy -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
  <link href="navbar.html" rel="import">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%block content%}{%include 'navbar.html'%}{%endblock%}
<div class="container-fluid">
  <h2>Your Donation</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/SGI-2016-South_Georgia_%28Fortuna_Bay%29%E2%80%93King_penguin_%28Aptenodytes_patagonicus%29_04.jpg/220px-SGI-2016-South_Georgia_%28Fortuna_Bay%29%E2%80%93King_penguin_%28Aptenodytes_patagonicus%29_04.jpg" alt="Penguin" class="img-thumbnail">
      </div>
      <div class="col-sm">
        <h3>Besar Donasi</h3><br>
        <h3>Rp10.000.000,00</h3>
      </div>
    </div>
  </div>
</div>
{%include 'footer.html'%}
</body>
</html>
