{%load static%}
<!DOCTYPE html>
<!-- Homepage (hello.html), footer ,and header by Jeremy -->
<html>
<body>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google-signin-client_id" content='816164880634-adbiufa05kppnv6lkva0dusa2p54rl86.apps.googleusercontent.com'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/tp1css.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
          <script src="{% static 'js/helo.js' %}" type="text/javascript"></script>
</head>
<body class="body-login d-flex flex-column justify-content-center align-items-center">
	{%include 'navbar.html'%}
<h1></h1>
<section class="d-flex justify-content-center align-items-center">
    {% csrf_token %}
    <div class="login container d-flex flex-column justify-content-center align-items-center">
        <h5 align="center">Please Login First with Your Google Account!</h5>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</section>
{%include 'footer.html'%}
</body>
</html>