
html{
	scroll-behavior: :smooth;
}
body{
	color:black;
}
hr { 

	background-color: #80475E;
    display: block;
    height: 3px;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    width: 60%;
	margin-left: 5%;
	margin-right: auto;
}
button {
	color:white;
    background-color: #80475E; /* Green */
}
footer{
    background-color: #4F073D;
    color: #80475E;
    text-align: left;
}
footer a:hover {
    color:#80475E ;
}
.ab a{
   color:#80475E ;
}
.navbar-default {
	font-size: 15px;
	border :0;
    background-color: 
    white
    
}
.nav.navbar-nav.navbar-right li a  {
    color: #80475E;
}
.nav.navbar-nav li a  {
    color: #80475E;
}
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     max-width: 100%;
     height: 600px !important;
 }
 .carousel{
  color:#E3B23C;
  background-color: #4F073D!important;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
}

