{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SinarPerak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
    <link href="navbar.html" rel="import">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%block content%}{%include 'navbar.html'%}{%endblock%}  
<div class="container"> 
    {% for data in campaigns %}
    <div class="row">
        <div class="col-sm">
            <p>{{ data.Project_name }}</p>
        </div>
        <div class="col-sm">
            <p>{{ data.Description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{%include 'footer.html'%}
</body>
</html>
