{%load static%}

<!-- Home page (home.html), footer ,and header by Jeremy -->

{% block content %}
<body>
<nav class="navbar navbar-default navbar-fixed-top sticky-top"">
  <div class="container-fluid">
    <div class="navbar-header"><img src="{% static 'css/sinarperaklogo.png' %}" alt="SinarPerak">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage:Home' %}">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#aboutus">About us</a></li>
      <li><a href="#">Browse Campaign</a></li>
      <li><a href="#">Create Campaign!</a></li>

      {% if user.is_authenticated %}
    <li><p>Welcome, {{ name }}. Thanks for logging in.</p></li>
    <ul class="nav navbar-nav navbar-right">
      <li>
    {% csrf_token %}
        <a id="logout"class="g-signout2" href="{% url 'logout' %}" onclick="signOut()">LOGOUT</a></div>
    </li></ul>
{% else %}
   <li> <p>Welcome, new user. Please log in.</p></li>
   <ul class="nav navbar-nav navbar-right">
      <li>
    {% csrf_token %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </li></ul>
{% endif %}
  </div>
</nav>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if 
  });
})
</script>
{% endblock %}
