{%load static%}

<!-- Home page (home.html), footer ,and header by Jeremy -->
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top sticky-top"">
  <div class="container-fluid">
    <div class="navbar-header"><img src="{% static 'css/sinarperaklogo.png' %}" alt="SinarPerak">
    </div>

          <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
      <li><a href="{% url 'homepage:Home' %}">Home</a></li>
      <li><a href="#news ">News</a></li>
      <li><a href="#aboutus">About us</a></li>
      <li><a href="#">Browse Campaign</a></li>
      <li><a href="#">Create Campaign!</a></li>
   
    <li>
            <a style="color:lightblue;">Hello {{ user.username }}</a>
          </li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
       
      <li >
           <a  href="{% url 'login:logout' %}"><span class="glyphicon glyphicon-user"></span>LOGOUT</a>
          </li>
        </ul>
          {% else %}
          <li><a href="{% url 'homepage:Home' %}">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#aboutus">About us</a></li>
      <li><a href="#">Browse Campaign</a></li>
      <li><a href="#">Create Campaign </a></li>
      <li>
            <a style="color:lightblue;">Hello please login!</a>
          </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li>
      <a href="{% url 'social:begin' 'google-oauth2' %}"><span class="glyphicon glyphicon-user"></span>LOGIN</a>
          </li>
        </ul>
          {% endif %}
</div>
    </nav>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if 
  });
})
</script>
{% endblock %}