{%load static%}
<!DOCTYPE html>
<!-- Homepage (hello.html), footer ,and header by Jeremy -->
<html>
<body>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/tp1css.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  {%block content%}{%include 'navbar.html'%}{%endblock%}
this is news platform hehehe still progressing tho
{%include 'footer.html'%}
</body>
</html>